* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NotoNaskh;
  src: url("/public/fonts/NotoNaskhArabic/NotoNaskhArabic-Medium.ttf");
  font-style: 500;
}

@font-face {
  font-family: NotoNaskh;
  src: url("/public/fonts/NotoNaskhArabic/NotoNaskhArabic-Bold.ttf");
  font-style: 700;
}

@font-face {
  font-family: NotoNaskh;
  src: url("/public/fonts/NotoNaskhArabic/NotoNaskhArabic-SemiBold.ttf");
  font-style: 600;
}

@font-face {
  font-family: NotoNaskh;
  src: url("/public/fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.ttf");
  font-style: 400;
}

.body {
  text-align: center;
  font-family: NotoNaskh !important;
}

.MainContainer {
  background-color: #1565c0;
  height: 100vh;

}